#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* body {
  text-align: right;
  direction: rtl;
} */
.inputs {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 8px;
}
.box {
  width: 100%;
}
.dates {
  display: flex;
  text-align: right;
  gap: 32px;
}
.dates.isGregorian {
  direction: ltr;
}
.dates.isJalali {
  direction: rtl;
}
.dates .month {
  width: 300px;
}
.dates .month h5 {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.calendar-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.calendar-grid > span {
  flex: 0 0 14.2857142857%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 5px;
}

.calendar-grid .calendar-weekday {
  font-size: 14px;
  font-weight: 600;
}
.calendar-grid .calendar-cell {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.calendar-grid .calendar-cell.is_today {
  border: 1px solid #ddd;
}
.calendar-grid .calendar-cell.is_holiday {
  color: #ff0000;
}
.calendar-grid .calendar-cell:hover {
  background-color: #ddd;
}
.calendar-grid .calendar-cell.is_highlight {
  background-color: rgba(28, 175, 119, 0.247);
}
.calendar-grid .calendar-cell.is_selected {
  background-color: #08c27b;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
.calendar-grid .calendar-cell.is_selected:hover {
  background-color: #09a86b;
}
.calendar-grid .calendar-cell:active {
  background-color: #ccc;
}

.arrow {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  left: 0;
  padding-inline: 35px;
}
.arrow .arrow-action {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
